{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'theme_owners_search'] %}

{% block title %}{{'customize.store.theme.theme_owners_install.search'|trans}}{% endblock %}
{% block sub_title %}{{'customize.store.theme.theme_owners_install.owners'|trans}}{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/react.production.min.js', 'customize') }}"></script>
<script src="{{ asset('assets/js/react-dom.production.min.js', 'customize') }}"></script>
<script src="{{ asset('assets/js/babel.min.js', 'customize') }}"></script>
<script src="{{ asset('assets/js/components/ownerstore/listing.js', 'customize') }}" type = "text/babel"></script>
<script>
    const templatesData = JSON.parse('{{ templatesAsJson|e('js') }}');
    const categoriesData = JSON.parse('{{ categoriesAsJson|e('js') }}');
    const installedTemplatesData = JSON.parse('{{ installedTemplatesDataAsJson|e('js') }}');
    const r = {
        "admin_store_template": "{{ url('admin_store_template') }}",
        "customize_store_template_owners_ajax_install": "{{ url('customize_store_template_owners_ajax_install') }}",
        "customize_store_template_owners_ajax": "{{ url('customize_store_template_owners_ajax') }}",
    };
    const t = {
        "common.ok": "{{ 'common.ok'|trans }}",
        "common.cancel": "{{ 'common.cancel'|trans }}",
        "customize.store.message.system_error": "{{ 'customize.store.message.system_error'|trans }}",
        "customize.store.message.install_success": "{{ 'customize.store.message.install_success'|trans }}",
        "customize.store.message.not_found": "{{ 'customize.store.message.not_found'|trans }}",
        "common.tax_include": "{{ 'common.tax_include'|trans }}",
        "customize.store.version": "{{ 'customize.store.version'|trans }}",
        "customize.store.downloadCount": "{{ 'customize.store.downloadCount'|trans }}",
        "customize.store.processing": "{{ 'customize.store.processing'|trans }}",
        "customize.store.uptodated": "{{ 'customize.store.uptodated'|trans }}",
        "customize.store.confirm": "{{ 'customize.store.confirm'|trans }}",
        "customize.store.plugin.confirm_install": "{{ 'customize.store.plugin.confirm_install'|trans }}",
        "customize.store.price.paid": "{{ 'customize.store.price.paid'|trans }}",
        "customize.store.price.free": "{{ 'customize.store.price.free'|trans }}",
        "customize.ownerstore.categories": "{{ 'customize.ownerstore.categories'|trans }}",
        "common.search_keyword": "{{ 'common.search_keyword'|trans }}",
        "admin.store.plugin.price": "{{ 'admin.store.plugin.price'|trans }}",
        "admin.store.plugin_owners_search.search_button": "{{ 'admin.store.plugin_owners_search.search_button'|trans }}",
        "admin.store.plugin_owners_search.search_results": "{{ 'admin.store.plugin_owners_search.search_results'|trans({'%number%': '_pageSize_', '%total%' : '_totals_'}) }}",
        "admin.store.plugin_owners_search.detail": "{{'admin.store.plugin_owners_search.detail'|trans}}",
        "admin.store.plugin_owners_search.install.free": "{{'admin.store.plugin_owners_search.install.free'|trans}}"
    };
</script>
<script type="text/babel">
    const params = {
        search: {
            submitUrl: r["customize_store_template_owners_ajax"],
            categories: categoriesData,
            pageSize: templatesData.pageSize,
            pageNum: templatesData.pageNum
        },
        result: {
            initCallback: function(code, version) {
                if (installedTemplatesData.hasOwnProperty(code)) {
                    return "installed"
                }
                return "install"
            },
            installUrl: r["customize_store_template_owners_ajax_install"],
            installCallback: function(code, version) {
                installedTemplatesData[code] = version;
            },
            installSucceedMsg: t["customize.store.message.install_success"].replace("_link_", '<a class="alert-link" href="'+ r["admin_store_template"] +'">' + r["admin_store_template"] + '</a>'),
            installFailedMsg: t["customize.store.message.system_error"],
            pagination: templatesData,
        }
    };
    const app = <Listing params={params} />;
    ReactDOM.render(app, document.getElementById("app"));
</script>
{% endblock %}

{% block main %}
    <div id="app"></div>
{% endblock %}
